<div class="container">
  <mat-card *ngIf="assignmentTransmitted">
    <mat-card-title>{{ assignmentTransmitted.nom }}</mat-card-title>
    <mat-card-subtitle>{{
      assignmentTransmitted.dateRendu | date
    }}</mat-card-subtitle>
    <mat-checkbox
      *ngIf="!assignmentTransmitted.rendu"
      (click)="onAssignmentSent()"
      >Devoir rendu</mat-checkbox
    >
    <button
      mat-stroked-button
      color="primary"
      (click)="onClickEdit()"
      [disabled]="!isAdmin()"
    >
      Edit
    </button>
    <button
      class="deleteButton"
      mat-flat-button
      color="accent"
      (click)="onDeleteAssignmentBtnClick()"
    >
      Supprimer le devoir
    </button>
  </mat-card>
</div>
