<main>
  <div class="addAssignmentContainer" *ngIf="isLogged()">
    <a routerLink="/add" style="margin: 20px">
      <button mat-flat-button color="primary">
        <mat-icon style="margin-right: 10px">library_add</mat-icon>Ajouter un
        devoir
      </button>
    </a>
  </div>
  <div class="headContainer">
    <div>
      <div style="display: flex">
        <mat-form-field
          appearance="outline"
          class="field"
          style="margin: auto 20px auto 20px"
        >
          <mat-label>Recherche</mat-label>
          <input
            matInput
            type="text"
            (input)="handleSearch()"
            [formControl]="search"
          />
        </mat-form-field>
        <div style="margin: auto 0 auto 0">
          <mat-label></mat-label>
          <mat-radio-group
            aria-label="Rendu"
            color="primary"
            (change)="handleRadioChange($event.value)"
          >
            <div>
              <mat-radio-button value="{{ 1 }}" style="margin-right: 20px"
                >Devoirs rendu</mat-radio-button
              >
              <mat-radio-button value="{{ 2 }}" style="margin-right: 20px"
                >Devoirs non rendus</mat-radio-button
              >
              <mat-radio-button value="{{ 3 }}" checked
                >Sans filtre</mat-radio-button
              >
            </div>
          </mat-radio-group>
        </div>
      </div>
    </div>
    <mat-paginator
      #paginator
      [length]="totalDocs"
      [pageSize]="limit"
      aria-label="Select page"
      (page)="handlePageChange($event.pageIndex)"
    >
    </mat-paginator>
  </div>
  <div class="assignmentsContainer">
    <div *ngFor="let assignment of assignments">
      <mat-card (click)="openDetails(assignment)" class="assignmentCard">
        <mat-card-title><mat-icon>assignment</mat-icon></mat-card-title>
        <mat-card-header>{{ assignment.dateDeRendu | date }}</mat-card-header>
        <mat-card-content class="assignmentContent"
          ><div appRendu *ngIf="assignment.rendu; else nonsoumis">
            <mat-icon style="display: block; margin: auto; margin-top: 20px"
              >check_circle</mat-icon
            ><br />
            <p style="text-align: center">
              Le devoir {{ assignment.nom }} a été rendu
            </p>
          </div>
          <ng-template #nonsoumis>
            <div appNonRendu>
              <mat-icon style="display: block; margin: auto; margin-top: 20px"
                >cancel</mat-icon
              ><br />
              <p style="text-align: center">
                Le devoir {{ assignment.nom }} n'a pas été rendu.
              </p>
            </div>
          </ng-template></mat-card-content
        >
      </mat-card>
    </div>
  </div>
</main>
