.assignmentsContainer {
  margin-top: 5px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.addAssignmentContainer {
  display: flex;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
}

.addButton {
  align-self: flex-end;
  margin-bottom: 20px;
}

.headContainer {
  margin-inline: 5%;
  display: flex;
  justify-content: space-between;
}

.assignmentCard {
  margin: 10px;
  width: 320px;
  height: 200px;
}

.assignmentCard:hover {
  cursor: pointer;
}

.assignmentContent {
  margin-left: 31px;
}
