<mat-toolbar>
  <a routerLink="/">
    <img src="../assets/logo_miage.png" width="180" />
  </a>
  <span class="spacer"></span>
  <div *ngIf="!isLogged()" style="display: flex">
    <a routerLink="/login">
      <button mat-flat-button color="primary">
        <mat-icon style="margin-right: 10px">login</mat-icon>Connexion
      </button>
    </a>
    <div style="margin-inline: 20px"></div>
    <a routerLink="/register">
      <button mat-flat-button color="primary">
        <mat-icon style="margin-right: 10px">manage accounts</mat-icon
        >Inscription
      </button>
    </a>
  </div>
  <div *ngIf="isLogged()">
    <button mat-flat-button (click)="logout()" color="primary">
      <mat-icon style="margin-right: 10px">logout</mat-icon>Deconnexion
    </button>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
